#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

%:
	dh $@

override_dh_auto_install:
	install -m 755 -D -t debian/dualsynth-neo-f3kdb-yuuki/usr/lib/$(DEB_HOST_MULTIARCH)/dualsynth obj-$(DEB_HOST_MULTIARCH)/libneo-f3kdb.so
	mkdir debian/dualsynth-neo-f3kdb-yuuki/usr/lib/$(DEB_HOST_MULTIARCH)/avisynth
	mkdir debian/dualsynth-neo-f3kdb-yuuki/usr/lib/$(DEB_HOST_MULTIARCH)/vapoursynth
	ln -s ../dualsynth/libneo-f3kdb.so debian/dualsynth-neo-f3kdb-yuuki/usr/lib/$(DEB_HOST_MULTIARCH)/avisynth/
	ln -s ../dualsynth/libneo-f3kdb.so debian/dualsynth-neo-f3kdb-yuuki/usr/lib/$(DEB_HOST_MULTIARCH)/vapoursynth/
