#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION             1,0,0,0
PRODUCTVERSION          1,0,0,0
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILEFLAGS               0
FILEOS                  VOS__WINDOWS32
FILETYPE                VFT_DLL
FILESUBTYPE             VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
        VALUE "Comments",         "Neo-F3KDB"
        VALUE "CompanyName",      ""
        VALUE "FileDescription",  "Neo-F3KDB"
        VALUE "FileVersion",      "5374299"
        VALUE "InternalName",     "Neo-F3KDB"
        VALUE "OriginalFilename", "Neo-F3KDB.dll"
        VALUE "ProductName",      "Neo-F3KDB"
        VALUE "ProductVersion",   "5374299"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409,1200
    END
END
